* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* component styles */
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: inherit;

    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    height: 50px;
    margin-left: 10px;
}

.header-left img {
    height: 100%;
    width: auto;
}

.header-right {
    margin-right: 10px;
}

.header-right ul {
    list-style-type: none;
    text-decoration: underline;
    display: flex;
}

.header-right li+li {
    margin-left: 15px;
}

footer p {
    margin-left: 20px;
}

/* Section Styles */
