* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* component styles */
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: inherit;

    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    height: 50px;
    margin-left: 10px;
}

.header-left img {
    height: 100%;
    width: auto;
}

.header-right {
    margin-right: 10px;
}

.header-right ul {
    list-style-type: none;
    text-decoration: underline;
    display: flex;
}

.header-right li+li {
    margin-left: 15px;
}

footer p {
    margin-left: 20px;
}

/* Section Styles */
section.hero-banner {
    background-image: url(./images/img-mission-background.jpg);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .mission-statement {
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 10px;
}

section.monthly-tea {
    width: 1000px;
    text-align: center;
    margin: 50px auto;

    /* border: 2px solid red; */
}

section.monthly-tea > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

section .featured-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px dotted red; */

    margin: 0 -25px;
}

.featured-content figure {
    margin: 10px 25px;
}

figcaption {
    margin-top: 10px;
}