* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* component styles */
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: inherit;

    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    height: 50px;
    margin-left: 10px;
}

.header-left img {
    height: 100%;
    width: auto;
}

.header-right {
    margin-right: 10px;
}

.header-right ul {
    list-style-type: none;
    text-decoration: underline;
    display: flex;
}

.header-right li+li {
    margin-left: 15px;
}

footer p {
    margin-left: 20px;
    font-size: 16px;
}

/* Section Styles */
section.hero-banner {
    background-image: url(./images/img-mission-background.jpg);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .mission-statement {
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 10px;
}

section.monthly-tea {
    max-width: 1000px;
    text-align: center;
    margin: 50px auto;

    /* border: 2px solid red; */
}

section.monthly-tea > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

section .featured-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px dotted red; */

    margin: 0 -25px;
}

.featured-content figure {
    margin: 10px 25px;
}

figcaption {
    margin-top: 10px;
}

section.locations {
    min-height: 500px;
    background-image: url(./images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.locations h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
}

section .tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -20px;
}

.tile-container .location-tile {
    width: 300px;
    background-color: black;
    margin: 15px 20px;

    text-align: center;
}

.location-tile > * {
    padding: 20px 0;
}

section.contact-info {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.contact-info h2 {
    padding-top: 20px;
}

section.contact-info h5:last-child {
    padding-bottom: 50px;
}